html, body {
  height: 100%;
}
#first-section{
    background: linear-gradient(300deg, #b9c6ca, #804a93, #ccc6cc);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: auto;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#header-section{
    background-color: #b09ac1;
    padding: 1rem 0;
 
}

.nav-link {
  color: #25142f !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0 1rem;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #d0bfdf !important;
}

.nav-link.active {
  color: #804a93 !important;
}


.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #25142f;

}
.description{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #ecdcf3cc; 
    max-width: 700px;
    margin: 0 auto;

}

.prof-pic {
  width: 350px;         
  height: 350px;
  border-radius: 50%;    
  object-fit: cover;    
  border: 2px solid #e0d7f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  #first-section {
    padding: 50px 20px;
  }
  .prof-pic {
    width: 180px;
    height: 180px;
    margin-top: 20px;
  }
}



